body {
	background-image: url(../img/sunset.jpg);
	background-size: 100%;
}

.weather-app {
	width: 90%;
	margin: 100px auto 0;
	position: relative;
	color: white;
}

.current-weather {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	letter-spacing: 5px;
}

/*Current weather information*/

.current-weather__info {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	box-shadow: inset 200px 0px 0px 200px rgba(0,0,0,0.48);
	text-align: center;
	font-size: 22px;
}

.current-weather__temperature {
	width: 100%;
	margin: 30px 0 0;
	font-size: 30px;
}

.current-weather__description {
	width: 100%;
}

.current-weather__aditional {
	width: 50%;
	margin-bottom: 50px;
}

.current-weather__aditional p {
	position: relative;
	text-align: end; 
}

.current-weather__wind::before {
	content: '';
	position: absolute;
	left: 15%;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/icons/wind-50.png);
	background-size: cover;
	background-position: center;
}

.current-weather__humidity::before {
	content: '';
	position: absolute;
	left: 15%;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/icons/humidity-50.png);
	background-size: cover;
	background-position: center;
}
.current-weather__pressure::before {
	content: '';
	position: absolute;
	left: 15%;
	top: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/icons/pressure-50.png);
	background-size: cover;
	background-position: center;
}

.favourite-btn {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

/*Current weather title*/
.current-weather__title {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 35px 30px;
	box-shadow: inset 200px 0px 0px 200px rgba(242, 170, 103, 0.48);
}

.current-weather__city, .current-weather__country {
	width: 70%;
	margin: 5px 0;
}

.current-weather__time, .current-weather__date {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 5px 0;
}

/*Weather forecast*/
.weather-forecast {
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
}

.weather-forecast__list {
	width: 100%;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.weatehr-forecast__item {
	width: calc(100% / 7);
	display: flex;
	align-items: flex-end;
	padding: 10px 0 0 0;
	writing-mode: vertical-rl;
	letter-spacing: 5px;
}
